In [7]:
import pandas as pd
import numpy as np
import autokeras as ak

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split



import warnings
warnings.filterwarnings('ignore')

In [8]:
df = pd.read_csv('TurinAHU.csv')
df["Timestamp"] = pd.to_datetime(df["Timestamp"])

# Extracting day, month, year, and time into separate columns
df["day"] = df["Timestamp"].dt.day
df["month"] = df["Timestamp"].dt.month
df["year"] = df["Timestamp"].dt.year
df["time"] = df["Timestamp"].dt.hour * 3600 + df["Timestamp"].dt.minute * 60 + df["Timestamp"].dt.second

# Dropping the "timestamp" column
df = df.drop("Timestamp", axis=1)

# Reordering the columns
cols = df.columns.tolist()
cols = ["time", "day", "month", "year"] + cols[:-4]
df = df[cols]
df

,time,day,month,year,T_Supply,T_Return,SP_Return,T_Saturation,T_Outdoor,RH_Supply,RH_Return,RH_Outdoor,Energy,Power
0,79200,14,10,2019,19.859999,20.469999,18.5,19.020000,20.299999,71.110001,58.919998,79.5,0.0,0.0
1,80100,14,10,2019,19.855000,20.430000,18.5,19.020000,20.299999,71.320000,59.000000,82.0,0.0,0.0
2,81000,14,10,2019,19.850000,20.410000,18.5,19.020000,20.299999,71.470001,59.109997,79.5,0.0,0.0
3,81900,14,10,2019,19.840000,20.379999,18.5,19.080000,20.299999,71.439995,59.309998,77.0,0.0,0.0
4,82800,14,10,2019,19.830000,20.350000,18.5,19.080000,20.299999,71.580002,59.559998,79.5,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33883,74700,14,4,2021,19.539999,20.004999,20.5,19.619999,14.700000,39.020000,27.930000,57.0,0.0,0.0
33884,75600,14,4,2021,19.520000,19.949999,20.5,19.539999,13.700000,39.020000,28.090000,57.0,0.0,0.0
33885,76500,14,4,2021,19.430000,19.955000,20.5,19.420000,13.700000,39.399998,27.930000,57.0,0.0,0.0
33886,77400,14,4,2021,19.420000,19.920000,20.5,19.400000,13.700000,39.599998,28.039999,57.0,0.0,0.0
33887,78300,14,4,2021,19.420000,19.900000,20.5,19.400000,13.700000,39.599998,28.150000,57.0,0.0,0.0

In [9]:
# Scale the data
scaler = MinMaxScaler()
data_scaled = scaler.fit_transform(df)

# Prepare the data for training
X = []
y = []
n_future = 2  # number of timesteps to predict
n_past = 96  # number of timesteps to use as input
for i in range(n_past, len(data_scaled) - n_future + 1):
    X.append(data_scaled[i - n_past:i, :])
    y.append(data_scaled[i:i + n_future, :])

X = np.array(X)
y = np.array(y)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Initialize the AutoML model
model = ak.StructuredDataRegressor(
    column_names=[f'feature_{i+1}' for i in range(X_train.shape[2])],
    output_dim=y_train.shape[1],
    max_trials=10,
    directory='autokeras',
)

# Fit the AutoML model to the training data
model.fit(X_train, y_train, epochs=20, batch_size=48, validation_split=0.2)

# Evaluate the AutoML model
mae, mape, rmse = model.evaluate(X_test, y_test)

print('MAE:', mae)
print('MAPE:', mape)
print('RMSE:', rmse)

NameError: name 'ak' is not defined